:root {
    --color-font: hsl(0, 0%, 0%);
    --color-background: hsl(0, 0%, 100%);
    --color-highlight: yellow;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-font: hsl(0, 0%, 100%);
        --color-background: hsl(0, 0%, 10%);
        --color-highlight: hsl(31, 100%, 50%);
    }
    a {
        color: hsl(212, 100%, 67%);
    }
    a:visited {
        color: hsl(253, 100%, 81%);
    }
  }

body {
    font-family: 'Special Elite', monospace;
    font-size: 100%;
    font-size: 1.2rem;
    font-size: clamp(1rem, 4vw, 1.6rem);
    line-height: 1.4;
    color: var(--color-font);
    background-color: var(--color-background);
}

.container {
    margin: 1rem auto;
    padding: 0 1rem;
    max-width: 60ch;
}

.header {
    margin-block-start: 6rem;
    margin-block-end: 2rem;
    text-align: center;
    
}

.logo {
    width: clamp(1.3rem, 5.5vw, 2.2rem);
}

.header::after,
.thecode::before,
.thecode::after,
.footer::before {
    display: block;
    margin: 4rem 0;
    content: "· - — - ·";
    text-align: center;
    font-size: 80%;
}

.quote {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote p {
    margin: 0;
    padding: 0;
    max-width: 40ch;
    text-align: center;
    font-style: italic;
}

.section-header {
    text-align: center;
}

ol {
    margin: 0;
    padding-inline-start: clamp(1.3rem, 5.5vw, 2.2rem);
}

li::after {
    display: block;
    margin: 1.4rem 0 1.4rem calc(clamp(1.3rem, 5.5vw, 2.2rem) * -1);
    content: "· - § - ·";
    text-align: center;
    font-size: 80%;
}

li:last-child::after {
    content: "";
}

strong {
    display: block-inline;
    background-color: var(--color-highlight);
}

strong::after {
    display: block;
    content: "";
}

.footer {
    margin-block-end: 6rem;
    text-align: center;
}

.footer p {
    font-size: 75%;
}