@font-face {
    font-family: 'Special Elite';
    src: url(/fonts/special-elite/SpecialElite-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap
  }